/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font: "Montserrat", sans-serif;
}

section {
  padding: 1% 2%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-primary {
  letter-spacing: 0.03em;
  border-radius: 40px;
  text-indent: 1px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 32px 0 32px;
  min-width: 230px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: #F9B56A;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #E98517;
}

.btn-circle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 17px;
}

.left {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.1em;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.left:after {
  content: "";
  display: inline-block;
  margin-top: 0.8em;
  margin-left: 0.2em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 50%;
  margin-left: 1em;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.right:after {
  content: "";
  display: inline-block;
  margin-top: 0.8em;
  margin-left: -0.4em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

h1 {
  font-weight: 900;
  font-size: 4em;
  font-family: "Halant", serif;
}

h2 {
  font-family: "Halant", serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

p {
  font-weight: 900;
  font-size: 2em;
  font-family: "Halant", serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type=submit] {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 0.9em;
  font: "Montserrat", sans-serif;
  color: #7CC576;
  padding: 10px 33px;
}

.saldo h3 {
  font-weight: 200;
  font-size: 1em;
}

input[type=text] {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 0.9em;
  color: #6E7191;
  border-color: #ffffff;
  padding: 10px 33px;
}

.titulo-destaque {
  font-size: 16px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto 29px auto;
  font-family: "Montserrat", sans-serif;
  padding: 10px 33px;
}

.rating {
  margin-bottom: 10px;
  margin-top: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.columnDesktop--6 {
  width: 50%;
}

.columnDesktop--5 {
  width: 41.66667%;
}

.columnDesktop--4 {
  width: 33.33333%;
}

.btn--tag {
  background: #C4C4C4;
  border-radius: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #6E7191;
  padding: 8px 15px 7px;
  border-radius: 4px;
  margin-right: 10px;
  font: "Montserrat", sans-serif !important;
}
.btn--tag:hover {
  background-color: #E98517;
  color: #ffffff;
}

.section-product {
  padding-top: 33px;
  padding-bottom: 60px;
}

.border-top {
  border-top: 1px solid #C4C4C4;
}

.product-link {
  text-decoration: underline;
  font-size: 1em !important;
  color: #000000;
}
.product-link:hover {
  color: #F9B56A;
}

.add-favorite {
  margin-right: 5px;
}
.add-favorite img {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
}
.add-favorite img:hover {
  background-color: #C4C4C4;
}

.add-cart img {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
}
.add-cart img:hover {
  background-color: #C4C4C4;
}

/* Break Points */
@media (min-width: 0) and (max-width: 1024px) {
  .columnDesktop--3 {
    width: 25% !important;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .columnTablet--4 {
    width: 33.33333% !important;
  }

  .hidden-phablet {
    display: none;
  }
}
@media only screen and (max-width: 512px) {
  .columnMobile--12 {
    width: 100% !important;
  }

  .hidden-mobile {
    display: none;
  }

  .wrap {
    flex-flow: wrap;
  }
}
.hero {
  height: 90vh;
}
.hero .hero-container {
  height: 100%;
}
.hero .hero-container .img-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-container .img-container .wrapper {
  height: 100%;
}
.hero .hero-container .img-container .wrapper article {
  margin-left: 20px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.hero .hero-container .img-container .wrapper article p {
  margin-bottom: 30px;
}
.hero .hero-container .img-container .wrapper article h1 {
  color: #000000;
  margin-bottom: 28px;
}
.hero .hero-container .img-container .wrapper article h2 {
  font-size: 48px;
  color: #000000;
  margin-bottom: 20px;
}
.hero .hero-container .img-container .wrapper article p {
  text-align: left;
}
.hero .hero-container .img-container .wrapper article .btn {
  margin-top: 49px;
  padding: 0 80px 0 40 px;
}

.slick-track,
.slick-list {
  height: 100%;
}

@media only screen and (max-width: 512px) {
  .wrapper article {
    text-align: center !important;
    margin-left: 0px !important;
  }
  .wrapper article h1 {
    font-size: 2em;
  }
  .wrapper article p {
    font-size: 1em;
    text-align: center !important;
  }
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #eee;
}

nav {
  font-size: 14px;
}
nav h3 {
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;
}
.nav-links div {
  align-items: center;
}
.nav-links div li a {
  transition: all 0.3s erase 0s;
  color: #000000;
}
.nav-links div li a:hover {
  color: #E98517;
}
.nav-links div li a:focus {
  color: #000000;
}
.nav-links div ul {
  margin: 0;
  list-style: none;
}
.nav-links div ul li {
  display: inline-block;
  padding-right: 40px;
  justify-content: center;
  vertical-align: middle;
}

.promo-img {
  vertical-align: middle;
}

@media (min-width: 0) and (max-width: 1024px) {
  .nav-links {
    justify-content: center;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .nav-links div {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .nav-links div ul {
    padding: 10px auto !important;
  }
}
footer .wrapper {
  display: flex;
  flex-flow: wrap;
  font-size: 0;
}
footer .wrapper .coll {
  line-height: 1.6;
  margin-top: 61px;
  display: inline-block;
  vertical-align: top;
  max-width: 25%;
  width: 100%;
  font-size: 20px;
  position: relative;
}
footer .wrapper .coll:nth-of-type(4):after {
  display: none;
}
footer .wrapper .coll ul li {
  font-size: 13px;
  color: #000000;
  margin: 0 0 10px 0;
}
footer .wrapper .coll ul li:first-child {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  margin-bottom: 15px;
}
footer .wrapper .coll ul li:last-child {
  margin-bottom: 0;
}
footer .wrapper .coll ul li a {
  color: #000000;
}
footer .wrapper .coll ul li a:hover {
  text-decoration: underline;
  color: #F9B56A;
}
footer .wrapper .coll ul li ul li {
  display: inline-block;
}
footer .wrapper .coll ul li ul li:first-child {
  font-size: 13px;
  font-weight: normal;
}
footer .wrapper .coll ul li ul li img {
  width: 30px;
  margin-right: 38px;
}

@media (min-width: 0) and (max-width: 768px) {
  footer .wrapper .coll {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  footer .wrapper .coll ul li ul li img {
    margin-right: 5px;
  }
}
.grid-container {
  max-width: 1280px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 297px 297px 297px;
}
.grid-container h3 {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}
.grid-container .romance {
  background-image: url("https://images.unsplash.com/photo-1535058637346-7c998e67b6b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.grid-container .chimamanda {
  background-image: url("https://pyxis.nymag.com/v1/imgs/1d1/f6b/d6f89e73cc601a0f1c87ae2a2dfee3b3d3-02-chimamanda-2.rvertical.w570.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.grid-container .infantil {
  background-image: url("https://images.unsplash.com/photo-1537655780520-1e392ead81f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.grid-container div {
  background-color: #F7F7FC;
  text-align: center;
}
.grid-container div:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-container div:nth-of-type(7) {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.grid-container div:nth-of-type(2) {
  background-color: #7CC576;
}
.grid-container div:nth-of-type(10) {
  background-color: #7CC576;
}
.grid-container div:nth-of-type(3) {
  background-color: #F9B56A;
}
.grid-container div:nth-of-type(8) {
  background-color: #F9B56A;
}

.item article {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.item h3 {
  margin-bottom: 8px;
}
.item h4 {
  margin: 17px 25px;
  line-height: 1.5;
}

.btn {
  padding: 0 12px 0 12px;
}

.card-grid {
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}
.card-grid img {
  width: 80%;
  margin: auto 20px auto 20px;
}

p {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.btn-circle {
  display: block;
  text-align: center;
  background-color: #F7F7FC;
}

.checked {
  color: #F9B56A;
}

.destaques-container {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
.destaques-container div:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  border-bottom: 0px solid #C4C4C4;
}
.destaques-container div:nth-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 2;
}
.destaques-container div:nth-of-type(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  border-right: 0px solid #C4C4C4;
}
.destaques-container div:nth-of-type(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  border-bottom: 0px solid #C4C4C4;
}
.destaques-container div:nth-of-type(5) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  border-bottom: 0px solid #C4C4C4;
  border-right: 0px solid #C4C4C4;
}

.saldo {
  text-decoration-line: line-through;
}
.saldo h3 {
  font-weight: 400;
}

.destaques-um {
  margin-top: 50px;
}
.destaques-um a {
  color: #000000;
}

header {
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Montserrat", sans-serif;
}
header .wrapper {
  font-size: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
header .wrapper nav {
  display: inline-block;
  width: 100%;
}
header .wrapper nav ul li a {
  color: #000000;
}
header .wrapper nav ul li a:hover {
  text-decoration: underline;
}

.destaques-container .card-component-big {
  padding: 20px 45px;
}
.destaques-container .card-component {
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.destaques-container .card-component:hover {
  box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
}
.destaques-container .card-component .card-top {
  margin-bottom: 32px;
  position: relative;
}
.destaques-container .card-component .card-photo {
  text-align: center;
}
.destaques-container .card-component .card-photo .imagem-destaque {
  width: 100%;
}
.destaques-container .card-component .card-body .card-rating {
  margin-bottom: 23px;
}
.destaques-container .card-component .card-body .card-rating .rating {
  display: flex;
  align-items: center;
  margin: 0 -4px;
}
.destaques-container .card-component .card-body .card-rating .rating .fa-star {
  padding-right: 6px;
}
.destaques-container .card-component .card-body .card-rating .rating .card-subtittle {
  color: #6E7191;
}
.destaques-container .card-component .card-bottom {
  display: flex;
  padding-top: 4px;
  margin-top: auto;
  flex-wrap: wrap;
  width: 100%;
}
.destaques-container .card-component .card-bottom .card-btns {
  display: flex;
  margin-left: auto;
}

@media (min-width: 0) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 297px 297px;
  }
  .grid-container div .hidden-mobile {
    display: none;
  }
  .grid-container div:nth-of-type(8) {
    background-color: #7CC576;
  }
  .grid-container div:nth-of-type(10) {
    background-color: #F9B56A;
  }
  .grid-container .btn-primary {
    min-width: 200px;
  }

  .badge {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 297px 297px 297px 297px;
  }

  input[type=text] {
    margin-bottom: 10px;
    padding: 10px 5px;
  }

  .destaques-container {
    grid-template-columns: 50% 50%;
  }
  .destaques-container .destaques-um {
    display: none;
  }
  .destaques-container div:nth-of-type(4) {
    grid-column-start: 1;
  }
  .destaques-container div:nth-of-type(5) {
    grid-column-start: 2;
  }
}
@media only screen and (max-width: 512px) {
  .grid-container .slick-list .slick-track .slick-slide {
    height: 300px !important;
  }

  .destaques-container .imagem-destaque {
    width: 100%;
  }

  .card-component-big {
    padding: 10px 15px;
  }
}
.signup {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newsletter-direita {
  background-color: #7CC576;
  padding: 20px;
}

.newsletter-dois {
  border-radius: 4px;
  text-decoration: none;
  font: "Montserrat", sans-serif;
}
.newsletter-dois .form {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  border-radius: 10px;
  font-size: 0px;
}
.newsletter-dois .form input {
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
}

@media only screen and (max-width: 512px) {
  .signup {
    text-align: center;
  }
  .signup .newsletter-dois .form input {
    margin-bottom: 20px;
  }

  .newsletter-esquerda {
    margin: 20px auto;
  }
}
.card-wrapper {
  display: flex;
}
.card-wrapper .card-component-big {
  padding: 20px 45px;
  width: 440px;
}
.card-wrapper .card-component-small {
  padding: 30px 20px;
  width: 400px;
}
.card-wrapper .card-component {
  display: flex;
  flex-flow: column;
}
.card-wrapper .card-component:hover {
  box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
}
.card-wrapper .card-component .card-component-big {
  border-right: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}
.card-wrapper .card-component .card-top {
  margin-bottom: 32px;
  position: relative;
}
.card-wrapper .card-component .card-photo {
  text-align: center;
  height: 220px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.card-wrapper .card-component .card-photo .badge {
  position: absolute;
  top: 0px;
  left: 30px;
}
.card-wrapper .card-component .card-photo .badge--flag {
  background-color: #F9B56A;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  width: 15%;
  font-weight: 500;
  text-align: center;
}
.card-wrapper .card-component .card-photo .badge--flag h4 {
  font: "Montserrat", sans-serif;
}
.card-wrapper .card-component .card-photo img {
  max-height: 220px;
  max-width: 100%;
  vertical-align: center;
  background-size: cover;
}
.card-wrapper .card-component .card-body {
  position: relative;
}
.card-wrapper .card-component .card-body a {
  color: #000000;
}
.card-wrapper .card-component .card-body .card-rating {
  margin-bottom: 23px;
}
.card-wrapper .card-component .card-body .card-rating .rating {
  display: flex;
  align-items: center;
  margin: 0 -4px;
}
.card-wrapper .card-component .card-body .card-rating .rating .fa-star {
  padding-right: 6px;
}
.card-wrapper .card-component .card-body .card-rating .rating .card-subtittle {
  color: #6E7191;
}
.card-wrapper .card-component .card-bottom {
  display: flex;
  padding-top: 4px;
  margin-top: auto;
  width: 100%;
  align-items: center;
}
.card-wrapper .card-component .card-bottom .card-btns {
  display: flex;
  margin-left: auto;
}

.products .card-wrapper {
  flex-flow: wrap;
}

.slide {
  background-color: #F7F7FC;
}

@media (min-width: 0) and (max-width: 768px) {
  .card-component-big {
    padding: 20px 25px !important;
  }

  .card-wrapper .card-component .card-photo .badge {
    display: none !important;
  }

  .card-title h3 {
    font-size: 1em;
  }
}
@media only screen and (max-width: 512px) {
  .destaques-container .card-component {
    border-right: none;
    border-bottom: none;
  }
}
.products {
  padding: 40px 0;
}
.products .card-wrapper .card-component-big {
  padding: 20px 45px;
  width: 320px;
}

.wrapper h2 {
  margin-bottom: 35px;
}
.wrapper .filter .filter-top {
  top: 50%;
}
.wrapper .filter .filter-top .space-between {
  align-items: center;
}
.wrapper .filter .filter-top .filter-category {
  border: 1px solid #C4C4C4;
  padding: 20px;
}
.wrapper .filter .filter-top .filter-category .title-filter h4 {
  padding-right: 20px;
}
.wrapper .filter .filter-top .filter-category .indicator {
  padding-left: 20px;
}
.wrapper .card-container {
  margin: 0 !important;
}
.wrapper .card-container .card-wrapper .card-component {
  padding: 20px;
  border: 1px solid #C4C4C4;
}

.produto .wrapper .product-row .content-left-product {
  text-align: right;
  display: flex;
  justify-content: center;
}
.produto .wrapper .product-row .content-left-product img {
  position: relative;
}
.produto .wrapper .product-row .content-left-product .btn-component {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}
.produto .wrapper .product-row .content-left-product input[type=button] {
  position: absolute;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.produto .wrapper .product-row .content-left-product input[type=button]:hover {
  background-color: #C4C4C4;
}
.produto .wrapper .product-row .content-right {
  padding: 70px 0;
}
.produto .wrapper .product-row .content-right .product-title {
  margin-bottom: 20px;
}
.produto .wrapper .product-row .content-right .content-right-details .rating-details ul li {
  display: inline-block;
  margin-right: 20px;
}
.produto .wrapper .product-row .content-right .content-right-details ul li {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}
.produto .wrapper .product-row .content-right .content-right-details .word-autor {
  color: #000000;
}
.produto .wrapper .product-row .content-right .content-right-details .word-autor:before {
  color: #6E7191;
  content: "Autor: ";
}
.produto .wrapper .product-row .content-right .content-right-details .word-editor {
  color: #000000;
}
.produto .wrapper .product-row .content-right .content-right-details .word-editor:before {
  color: #6E7191;
  content: "Editor: ";
}
.produto .wrapper .product-row .content-right .content-right-details .word-isbn {
  color: #000000;
}
.produto .wrapper .product-row .content-right .content-right-details .word-isbn:before {
  color: #6E7191;
  content: "ISBN: ";
}
.produto .wrapper .product-row .content-right .content-right-bottom .price-row {
  display: flex;
}
.produto .wrapper .product-row .content-right .content-right-bottom .price-row .product-price h3 {
  font-size: 2em;
  margin: 34px auto;
}
.produto .wrapper .product-row .buttons-row {
  align-items: center;
  flex-flow: wrap;
}
.produto .wrapper .product-row .buttons-row .action-button {
  display: flex;
}
.produto .wrapper .product-row .buttons-row .action-button .action-buy {
  margin-right: 10px;
}
.produto .wrapper .product-row .buttons-row .action-button .add-favorite img {
  padding: 15px;
}
.produto .wrapper .product-row .buttons-row li {
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}
.produto .micro-details {
  margin-top: 52px;
}
.produto .micro-details .micro-details-body {
  margin-top: 30px;
}
.produto .micro-details .micro-details-body p {
  font-size: 1em;
  line-height: 30px;
  text-align: justify;
  font-weight: 400;
}
.produto .description-row {
  padding-top: 35px;
  padding-bottom: 35px;
}
.produto .description-row .content-right .tagsbox .tagsbox-list {
  display: flex;
}
.produto .author-row {
  padding-top: 35px;
  padding-bottom: 35px;
}
.produto .author-row .author {
  display: flex;
  flex-flow: wrap;
  margin-top: 70px;
}
.produto .author-row .author .author-image {
  max-width: 200px;
}
.produto .author-row .author .author-image img {
  max-width: 100%;
  padding: 0 30px 0 0;
}
.produto .author-row .author .author-info {
  width: 100%;
}
.produto .author-row .author .micro-details {
  margin-top: 0px;
}

.content-left {
  margin: 70px 0;
  text-align: right;
}
.content-left h1 {
  text-transform: uppercase;
  font-size: 2em;
}

.content-right {
  position: relative;
}
.content-right:before {
  content: "";
  position: absolute;
  top: -35px;
  left: -90px;
  bottom: 0;
  height: 570px;
  width: 1px;
  background-color: #C4C4C4;
}
.content-right .card-wrapper {
  margin-left: -90px;
}
.content-right .card-wrapper .card-componente {
  width: 500px;
}

.product-row-right:before {
  display: none;
}

.recomendations-row .content-right:before {
  height: 498px !important;
}

@media (min-width: 0) and (max-width: 1024px) {
  section {
    padding: 1% 4% !important;
  }

  .card-bottom {
    flex-flow: none;
  }

  .action-button {
    margin-bottom: 20px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .recomendations-row .card-wrapper .hidden-mobile {
    display: none !important;
  }

  .author-books-row .hidden-mobile {
    display: none !important;
  }

  .btn-primary {
    width: 70%;
  }
}
@media only screen and (max-width: 512px) {
  .content-right .card-wrapper {
    margin-left: 0px;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }

  section {
    padding: 1% 6%;
  }

  .columnMobile--12 {
    width: 100%;
  }

  .hidden-mobile {
    display: none !important;
  }

  .btn-primary {
    width: 300px;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .content-left {
    margin: 0px auto;
    text-align: left;
  }

  .content-left-product {
    margin-bottom: 30px;
  }

  .recomendations-row {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .author-books-row {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .author-image {
    margin-left: 33.33%;
  }

  .micro-details-title {
    text-align: center;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 350px) {
  .btn-primary {
    width: 200px;
    margin-bottom: 40px;
  }

  .content-left-product {
    margin-left: 2% !important;
  }
}
.breadcrumb .wrapper ul li {
  display: inline-block;
  font-size: 12px;
  color: #6E7191;
  font: "Montserrat", sans-serif !important;
}
.breadcrumb .wrapper ul li:after {
  content: "|";
}
.breadcrumb .wrapper ul li:last-child:after {
  display: none;
}
.breadcrumb .wrapper ul li a {
  color: #F9B56A;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */