.breadcrumb {


    .wrapper {
        ul {
            li {
                display: inline-block;
                font-size: 12px;
                color: $grey-color;
                font: $font-base !important;

                &:after {
                    content: '|';
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                a {
                    color: $primary-color;
                }
            }
        }
    }
}