.card-wrapper {
  display: flex;


  .card-component-big {
    padding: 20px 45px;
    width: 440px;
  }

  .card-component-small {

    padding: 30px 20px;
    width: 400px;
  }

  .card-component {
    display: flex;
    flex-flow: column;

    &:hover {
      box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
      -webkit-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
      -moz-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
    }

    .card-component-big {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;


    }

    .card-top {
      margin-bottom: 32px;
      position: relative;

    }

    .card-photo {

      text-align: center;
      height: 220px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;

      .badge {
        position: absolute;
        top: 0px;
        left: 30px;
      }

      .badge--flag {

        background-color: $primary-color;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: .04em;
        width: 15%;
        font-weight: 500;
        text-align: center;

        h4 {
          font: $font-base;
        }

      }

      img {
        max-height: 220px;
        max-width: 100%;
        vertical-align: center;
        background-size: cover;
      }

    }

    .card-body {
      position: relative;

      a {
        color: $dark-color;
      }

      .card-rating {
        margin-bottom: 23px;

        .rating {
          display: flex;
          align-items: center;
          margin: 0 -4px;

          .fa-star {
            padding-right: 6px;
          }

          .card-subtittle {
            color: $grey-color;
          }

        }

      }

    }

    .card-bottom {
      display: flex;
      padding-top: 4px;
      margin-top: auto;
      width: 100%;
      align-items: center;

      .card-btns {
        display: flex;
        margin-left: auto;
      }
    }
  }
}

.products {
  .card-wrapper {
    flex-flow: wrap;
  }
}

.slide {
  background-color: $background-color;
}

//mq
//phablet 
@media (min-width: 0) and (max-width: #{$phablet-width}) {
  .card-component-big {
    padding: 20px 25px !important;
  }

  .card-wrapper {
    .card-component {
      .card-photo {

        .badge {
          display: none !important;


        }
      }
    }
  }

  .card-title {
    h3 {
      font-size: 1em;
    }
  }
}

//mobile 
@media only screen and (max-width: #{$mobile-width}) {
  .destaques-container {

    .card-component {
      border-right: none;
      border-bottom: none;
    }
  }
}