footer {
    .wrapper {
        display: flex;
        flex-flow: wrap;
        font-size: 0;

        .coll {
            line-height: 1.6;
            margin-top: 61px;
            display: inline-block;
            vertical-align: top;
            max-width: 25%;
            width: 100%;
            font-size: 20px;
            position: relative;

            &:nth-of-type(4) {
                &:after {
                    display: none;
                }

            }

            ul {
                li {
                    font-size: 13px;
                    color: $dark-color;
                    margin: 0 0 10px 0;

                    &:first-child {
                        font-size: 15px;
                        font-weight: 600;
                        font-family: $font-base;
                        text-transform: none;
                        margin-bottom: 15px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: $dark-color;

                        &:hover {
                            text-decoration: underline;
                            color: $primary-color;
                        }
                    }

                    ul {
                        li {
                            display: inline-block;

                            &:first-child {
                                font-size: 13px;
                                font-weight: normal;
                            }

                            img {
                                width: 30px;
                                margin-right: 38px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 0) and (max-width: #{$phablet-width}) {
    footer {
        .wrapper {


            .coll {

                max-width: 100%;
                text-align: center;
                margin-top: 10px;

                ul {
                    li {
                        ul {
                            li {
                                img {

                                    margin-right: 5px;
                                }
                            }
                        }

                    }
                }

            }
        }
    }
}