.grid-container {
  max-width: 1280px;
  margin: auto auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 297px 297px 297px;

  h3 {
    margin-top: 5px;
    font-family: $font-base;
  }

  .romance {
    background-image: url("https://images.unsplash.com/photo-1535058637346-7c998e67b6b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .chimamanda {
    background-image: url("https://pyxis.nymag.com/v1/imgs/1d1/f6b/d6f89e73cc601a0f1c87ae2a2dfee3b3d3-02-chimamanda-2.rvertical.w570.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .infantil {
    background-image: url("https://images.unsplash.com/photo-1537655780520-1e392ead81f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  div {
    background-color: $background-color;
    text-align: center;

    &:nth-of-type(1) {
      grid-row-start: 1;
      grid-row-end: 3;


    }

    &:nth-of-type(7) {
      grid-column-start: 4;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    &:nth-of-type(2) {
      background-color: $secondary-color;
    }

    &:nth-of-type(10) {
      background-color: $secondary-color;
    }

    &:nth-of-type(3) {
      background-color: $primary-color;
    }

    &:nth-of-type(8) {
      background-color: $primary-color;
    }
  }
}

.item {
  article {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }

  h3 {
    margin-bottom: 8px;
  }

  h4 {
    margin: 17px 25px;
    line-height: 1.5;
  }
}

.btn {
  padding: 0 12px 0 12px;
}

.card-grid {
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-family: $font-base;

  img {
    width: 80%;
    margin: auto 20px auto 20px;
  }

}

p {
  display: block;
  text-align: center;
  font-family: $font-base;
}

.btn-circle {
  display: block;
  text-align: center;
  background-color: $background-color;

}


.checked {
  color: $primary-color;
}


// GRID DESTAQUES
.destaques-container {
  font-family: $font-base;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 25% 25%;

  div {
    &:nth-of-type(1) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 1;
      border-bottom: 0px solid #C4C4C4;
    }

    &:nth-of-type(2) {
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-of-type(3) {
      grid-row-start: 1;
      grid-row-end: 2;
      border-right: 0px solid #C4C4C4;
    }

    &:nth-of-type(4) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      border-bottom: 0px solid #C4C4C4;
    }

    &:nth-of-type(5) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      border-bottom: 0px solid #C4C4C4;
      border-right: 0px solid #C4C4C4;
    }
  }
}

.saldo {
  text-decoration-line: line-through;

  h3 {
    font-weight: 400;
  }
}

.destaques-um {
  margin-top: 50px;

  a {
    color: $dark-color;
  }
}

// END GRID DESTAQUES

header {
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
  font-family: $font-base;

  .wrapper {
    font-size: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    nav {
      display: inline-block;
      width: 100%;

      ul {
        li {
          a {
            color: $dark-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.destaques-container {
  .card-component-big {
    padding: 20px 45px;
  }

  .card-component {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &:hover {
      box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
      -webkit-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
      -moz-box-shadow: -2px 0px 33px -13px rgba(0, 0, 0, 0.64);
    }

    .card-top {
      margin-bottom: 32px;
      position: relative;
    }

    .card-photo {
      text-align: center;

      .imagem-destaque {
        width: 100%;

      }
    }

    .card-body {
      .card-rating {
        margin-bottom: 23px;

        .rating {
          display: flex;
          align-items: center;
          margin: 0 -4px;

          .fa-star {
            padding-right: 6px;
          }

          .card-subtittle {
            color: $grey-color;
          }

        }

      }

    }

    .card-bottom {
      display: flex;
      padding-top: 4px;
      margin-top: auto;
      flex-wrap: wrap;
      width: 100%;

      .card-btns {
        display: flex;
        margin-left: auto;


      }
    }
  }



}



//tablet 
@media (min-width: 0) and (max-width: #{$tablet-width}) {

  .grid-container {

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 297px 297px;

    div {

      .hidden-mobile {
        display: none;
      }


      &:nth-of-type(8) {
        background-color: $secondary-color;
      }

      &:nth-of-type(10) {
        background-color: $primary-color;
      }
    }

    .btn-primary {
      min-width: 200px;
    }
  }

  .badge {
    display: none;
  }




}


//phablet 
@media (min-width: 0) and (max-width: #{$phablet-width}) {

  .grid-container {

    grid-template-columns: 50% 50%;
    grid-template-rows: 297px 297px 297px 297px;
  }

  input[type=text] {

    margin-bottom: 10px;
    padding: 10px 5px;
  }

  .destaques-container {
    grid-template-columns: 50% 50%;

    .destaques-um {
      display: none;
    }

    div {
      &:nth-of-type(4) {
        grid-column-start: 1;
      }

      &:nth-of-type(5) {
        grid-column-start: 2;
      }
    }
  }
}


//mobile 
@media only screen and (max-width: #{$mobile-width}) {
  .grid-container {
    .slick-list {
      .slick-track {
        .slick-slide {

          height: 300px !important;

        }
      }
    }
  }

  .destaques-container {
    .imagem-destaque {
      width: 100%;
    }
  }

  .card-component-big {
    padding: 10px 15px;
  }
}

//smallerMobile 
@media only screen and (max-width: #{$smallerMobile-width}) {}