.hero {
  height: 90vh;

  .hero-container {
    height: 100%;


    .img-container {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .wrapper {

        height: 100%;

        article {
          margin-left: 20px;
          text-align: left;
          top: 50%;
          transform: translateY(-50%);
          position: relative;

          p {
            margin-bottom: 30px;
          }

          h1 {
            color: $dark-color;
            margin-bottom: 28px;

          }

          h2 {
            font-size: 48px;
            color: $dark-color;
            margin-bottom: 20px;
          }

          p {
            text-align: left;

          }

          .btn {
            margin-top: 49px;
            padding: 0 80px 0 40 px;
          }
        }
      }
    }
  }
}


.slick-track,
.slick-list {
  height: 100%;
}


//mobile 
@media only screen and (max-width: #{$mobile-width}) {

  .wrapper {
    article {


      text-align: center !important;
      margin-left: 0px !important;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1em;
        text-align: center !important;
      }
    }
  }


}