.products {
    padding: 40px 0;

    .card-wrapper .card-component-big {
        padding: 20px 45px;
        width: 320px;
    }
}

.wrapper {
    h2 {
        margin-bottom: 35px;
    }
    .filter {
        .filter-top {
            top: 50%;

            .space-between {
                align-items: center;
            }
            .filter-category {
                border: 1px solid $border-color;
                padding: 20px;

                .title-filter {
                    h4 {
                        padding-right: 20px;
                    }
                }
                .indicator {
                    padding-left: 20px;
                }
            }
        }
    }

    .card-container {
        margin: 0 !important;
        .card-wrapper {
            .card-component {
                padding: 20px;
                border: 1px solid $border-color;
            }
        }
    }
}