  //MQ
  /* Break Points */
  $tablet-width: 1024px;
  $phablet-width: 768px;
  $mobile-width: 512px;
  $smallerMobile-width: 350px;



  //tablet 
  @media (min-width: 0) and (max-width: #{$tablet-width}) {
    .columnDesktop--3 {
      width: 25% !important;
    }
  }


  //phablet 
  @media (min-width: 0) and (max-width: #{$phablet-width}) {
    .columnTablet--4 {
      width: 33.33333% !important;
    }

    .hidden-phablet {
      display: none;
    }
  }


  //mobile 
  @media only screen and (max-width: #{$mobile-width}) {
    .columnMobile--12 {
      width: 100% !important;
    }

    .hidden-mobile {
      display: none;
    }

    .wrap {
      flex-flow: wrap;
    }
  }


  //smallerMobile 
  @media only screen and (max-width: #{$smallerMobile-width}) {}