header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #eee;
}

nav {
  font-size: 14px;
  h3 {
    font-family: $font-base;
  }
}

.logo {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


.nav-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $dark-color;
  div {
    align-items: center;
    li a {
      transition: all 0.3s erase 0s;
      color: $dark-color;
    }

    li a:hover {
      color: $primary-dark-color;
    }

    li a:focus {
      color: $dark-color;

    }

    ul {
      margin: 0;

      list-style: none;

      li {
        display: inline-block;
        padding-right: 40px;
        justify-content: center;
        vertical-align: middle;

      }

    }
  }
}

.promo-img {
  vertical-align: middle;
}


//tablet 
@media (min-width: 0) and (max-width: #{$tablet-width}) {
  .nav-links {
    justify-content: center;
  }
}


//phablet 
@media (min-width: 0) and (max-width: #{$phablet-width}) {
  .nav-links {
    div {

     
      max-width: 100%;
      text-align: center;
      margin-top: 10px;

      ul {
        padding: 10px auto !important;
      }
    }
  }
}
