    .signup {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .newsletter-direita {
        background-color: $secondary-color;
        padding: 20px
    }

    .newsletter-dois {
        border-radius: 4px;
        text-decoration: none;
        font: $font-base;

        .form {
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            border-radius: 10px;
            font-size: 0px;

            input {
                display: inline-block;
                font-size: 15px;
                border-radius: 4px;
            }
        }
    }

    //mobile 
    @media only screen and (max-width: #{$mobile-width}) {
        .signup {
            text-align: center;

            .newsletter-dois .form input {
                margin-bottom: 20px;
            }
        }
        .newsletter-esquerda {
            margin: 20px auto;

        }
    }