.produto {
    .wrapper {
        .product-row {
            .content-left-product {
                text-align: right;
                display: flex;
                justify-content: center;

                img {
                    position: relative;
                }

                .btn-component {
                    display: flex;
                    flex-flow: column;
                    margin-left: 20px;
                }

                input[type=button] {
                    position: absolute;
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    border-radius: 4px;
                    height: 50px;
                    width: 50px;
                    margin-right: 10px;

                    &:hover {
                        background-color: $border-color;
                    }
                }

            }

            .content-right {
                padding: 70px 0;

                .product-title {
                    margin-bottom: 20px;
                }

                .content-right-details {
                    .rating-details {
                        ul {
                            li {
                                display: inline-block;
                                margin-right: 20px;
                            }
                        }
                    }

                    ul {
                        li {
                            margin-bottom: 20px;
                            font-size: 1em;
                            font-weight: 500;
                            font-family: $font-base !important;
                        }
                    }

                    .word-autor {
                        color: $dark-color;
                    }

                    .word-autor:before {
                        color: $grey-color;
                        content: "Autor: ";
                    }

                    .word-editor {

                        color: $dark-color;
                    }

                    .word-editor:before {
                        color: $grey-color;
                        content: "Editor: ";
                    }

                    .word-isbn {

                        color: $dark-color;
                    }

                    .word-isbn:before {
                        color: $grey-color;
                        content: "ISBN: ";
                    }

                }

                .content-right-bottom {
                    .price-row {

                        display: flex;

                        .product-price {
                            h3 {
                                font-size: 2em;
                                margin: 34px auto;
                            }
                        }
                    }
                }
            }

            .buttons-row {
                align-items: center;
                flex-flow: wrap;

                .action-button {
                    display: flex;
                    .action-buy {
                        margin-right: 10px;
                    }

                    .add-favorite {
                        img {
                            padding: 15px;
                        }
                    }

                }

                li {
                    font-weight: 500;
                    font-family: $font-base !important;
                }
            }
        }
    }

    .micro-details {
        margin-top: 52px;

        .micro-details-body {
            margin-top: 30px;

            p {
                font-size: 1em;
                line-height: 30px;
                text-align: justify;
                font-weight: 400;
            }
        }
    }

    .description-row {
        padding-top: 35px;
        padding-bottom: 35px;

        .content-right {
            .tagsbox {
                .tagsbox-list {
                    display: flex;
                }
            }
        }
    }

    .author-row {
        padding-top: 35px;
        padding-bottom: 35px;

        .author {
            display: flex;
            flex-flow: wrap;
            margin-top: 70px;

            .author-image {
                max-width: 200px;

                img {
                    max-width: 100%;
                    padding: 0 30px 0 0;
                }
            }

            .author-info {
                width: 100%;
            }

            .micro-details {
                margin-top: 0px;
            }
        }
    }
}



.content-left {
    margin: 70px 0;

    h1 {
        text-transform: uppercase;
        font-size: 2em;
    }

    text-align: right;
}

.content-right {
    position: relative;

    &:before {

        content: '';
        position: absolute;
        top: -35px;
        left: -90px;
        bottom: 0;
        height: 570px;
        width: 1px;
        background-color: $border-color;

    }

    .card-wrapper {
        margin-left: -90px;

        .card-componente {
            width: 500px;
        }
    }
}

.product-row-right {
    &:before {
        display: none;
    }
}

.recomendations-row {
    .content-right {


        &:before {
            height: 498px !important;
        }
    }
}


//tablet 
@media (min-width: 0) and (max-width: #{$tablet-width}) {

    section {
        padding: 1% 4% !important;
    }

    .card-bottom {
        flex-flow: none;
    }

    .action-button {
        margin-bottom: 20px;

    }

}


//phablet 
@media (min-width: 0) and (max-width: #{$phablet-width}) {

    .recomendations-row {
        .card-wrapper {


            .hidden-mobile {
                display: none !important;
            }
        }
    }

    .author-books-row {
        .hidden-mobile {
            display: none !important;
        }
    }

    .btn-primary {
        width: 70%;
    }
}

//mobile 
@media only screen and (max-width: #{$mobile-width}) {
    .content-right .card-wrapper {
        margin-left: 0px;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    section {
        padding: 1% 6%;
    }

    .columnMobile--12 {
        width: 100%;
    }

    .hidden-mobile {
        display: none !important;
    }

    .btn-primary {


        width: 300px;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .content-left {
        margin: 0px auto;
        text-align: left;
    }

    .content-left-product {
        margin-bottom: 30px;
    }

    .recomendations-row {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .author-books-row {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .author-image {
        margin-left: 33.33%;
    }

    .micro-details-title {
        text-align: center;
        margin-top: 30px;
    }
}


//smallerMobile 
@media only screen and (max-width: #{$smallerMobile-width}) {

    .btn-primary {
        width: 200px;
        margin-bottom: 40px;
    }

    .content-left-product {
        margin-left: 2% !important;
    }
}