$font-base: 'Montserrat',sans-serif;
$font-secondary:'Halant',serif;

$primary-color: #F9B56A;
$primary-dark-color: #E98517;
$secondary-color:#7CC576;
$secondary-dark-color:#00962A;
$grey-color: #6E7191;
$background-color: #F7F7FC;
$dark-color: #000000;
$light-color: #ffffff;
$border-color: #C4C4C4;


body {
  font: $font-base;
}

section {
  padding: 1% 2%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-primary {
  letter-spacing: 0.03em;
  border-radius: 40px;
  text-indent: 1px;
  font-size: 16px;
  color: $light-color;
  padding: 0 32px 0 32px;
  min-width: 230px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  background-color: $primary-color;
  font-family: $font-base;
  font-weight: 600;


  &:hover {
    background-color: $primary-dark-color;
  }
}

.btn-circle {

  display: inline-block;
  vertical-align: middle;
  margin-top: 17px;
}


.left {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.1em;
  box-shadow: 0 10px 25px rgb(0 0 0 / 25%);

}

.left:after {
  content: '';
  display: inline-block;
  margin-top: 0.8em;
  margin-left: 0.2em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 50%;
  margin-left: 1em;
  box-shadow: 0 10px 25px rgb(0 0 0 / 25%);


}

.right:after {
  content: '';
  display: inline-block;
  margin-top: 0.8em;
  margin-left: -0.4em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.1em solid #000;
  border-right: 0.1em solid #000;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

h1 {
  font-weight: 900;
  font-size: 4em;
  font-family: $font-secondary;
}

h2 {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: $font-base;
  font-weight: 700;
  font-size: 1.2em;
}

p {
  font-weight: 900;
  font-size: 2em;
  font-family: $font-secondary;
}

h4 {
  font-family: $font-base;
  font-weight: 400;
  font-size: 0.9em;

  margin-bottom: 10px;
  margin-top: 10px;


}

input[type=submit] {
  font-family: $font-base;
  background-color: $light-color;
  font-weight: 600;
  font-size: 0.9em;
  font: $font-base;
  color: $secondary-color;
  padding: 10px 33px;


}

.saldo {
  h3 {
    font-weight: 200;
    font-size: 1em;
  }
}

input[type=text] {
  font-family: $font-base;
  background-color: $light-color;
  font-weight: 600;
  font-size: 0.9em;
  color: $grey-color;
  border-color: $light-color;
  padding: 10px 33px;



}

.titulo-destaque {
  font-size: 16px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto 29px auto;
  font-family: $font-base;
  padding: 10px 33px;

}

.rating {
  margin-bottom: 10px;
  margin-top: 10px;
}


.space-between {
  display: flex;

  justify-content: space-between;

}

.columnDesktop--6 {
  width: 50%;
}

.columnDesktop--5 {
  width: 41.66667%;
}

.columnDesktop--4 {
  width: 33.33333%;
}

.btn--tag {
  background: $border-color;
  border-radius: 20px;
  font-size: 12px;
  line-height: 15px;
  color: $grey-color;
  padding: 8px 15px 7px;
  border-radius: 4px;
  margin-right: 10px;
  font: $font-base !important;

  &:hover {
    background-color: $primary-dark-color;
    color: $light-color;
  }
}

.section-product {

  padding-top: 33px;
  padding-bottom: 60px;


}

.border-top {
  border-top: 1px solid $border-color;
}

.product-link {

  text-decoration: underline;
  font-size: 1em !important;
  color: $dark-color;

  &:hover {
    color: $primary-color;
  }
}

.add-favorite {
  margin-right: 5px;

  img {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;

    &:hover {
      background-color: $border-color;
    }
  }
}

.add-cart {

  img {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;

    &:hover {
      background-color: $border-color;
    }
  }
}

